# Dependencies (bun install)
node_modules
.pnp
.pnp.js

# Output
out
build
dist
dist-ssr
*.tgz

# Turbo
.turbo

# Code Coverage
coverage
*.lcov

# Logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Dotenv Environment Variable Files
.env
.env.*
!.env.sample

# Caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Finder (MacOS) folder config
.DS_Store

# Tanstack
.nitro
.tanstack

# Database
*.db
.drizzle

# Miscellaneous
*.pem
*.local
